html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}

/* Layout */
.container {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1300px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  min-height: 4.5rem; /* Footer height */
  background-color: #203040;
  color: #fff;
}

/* common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c800;
}

button.block {
  width: 100%;
}

/* Header */
header {
  background-color: #203040;
  min-height: 50px;
}

header a {
  color: #fff;
  padding: 1rem;
}

a.brand {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.min-30 {
  min-width: 15rem;
}

/* Image */

img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

.product_img {
  display: flex;
  justify-content: center;
}

.product_img img {
  width: 90%;
  margin-bottom: 3rem;
}

/* Card */

.card {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 1rem;
}

.price {
  font-size: 2rem;
}

.product-contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-contents > * {
  justify-content: center;
}

.product-details-wrap {
  display: flex;
  flex: 1 0 40%;
  flex-wrap: wrap;
}

.product-details {
  flex: 1 1 50%;
  max-width: 35%;
  min-width: 300px;
}

.product-details-card {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* Rating */
.rating span {
  color: #f0c800;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #252323;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Alert */

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  align-self: center;
  text-align: center;
  color: #a02020;
  width: 80%;
  background-color: #ffe0e0e0;
  border-radius: 0.5rem;
}

.shopping-cart-details {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  flex-wrap: wrap;
}

h1.shopping-t {
  text-align: center;
}

.shopping-cart-contents h1 {
  text-align: center;
}

/* Form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
  display: block;
}
